/* Sobrescrevendo o estilo das tags */
body {
	background-color: #EBEBEB;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 19px;
	color: #D91E3D;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	color: #858D95; 
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: #858D95; 
}

a {
	color: #CCCCCC;
	text-decoration: none;
}

a:hover {
	color: #20BEC6;
}


/* Container geral */
.container {
	background-color: #E5E5E5;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

/* Container principal*/
.main-container {
	display: flex;
}

/* Lado esquerdo do container principal */
.left-side {
	width: 350px;
}


/* Lado direito do container principal */
.right-side {
	margin-left: 50px;
}


/* Cards */
.card {
	background-color: #FFFFFF;
	border-radius: 3px;
	padding: 15px;
	/*box-shadow: 2px 3px 5px 0px rgba(171,171,171,1);*/
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
}

.profile-card {
	text-align: center;
	padding-bottom: 25px;
}

.profile-image {
	border: 2px #CCCCCC solid;
	border-radius: 50px;
	display: block;
	margin: auto;
}

.social-media-card {
	display: flex;
}

/* Botões */

.button {
	padding: 10px;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;	
}

.button-red {
	background-color: #D91E3D;
	color: #FFFFFF;
}

.button-red:hover {
	background-color: #A8152B;
	color: #FFFFFF;
}

/* Links */

.media-link {
	padding: 10px;
	text-align: center;	
	color: #CCCCCC;
	width: 33.33%
}

.media-link:hover {
	color: #A8152B;
}

.media-link > .icon {
	font-size: 20px;
}

.link-facebook:hover{
	color: #3B5998;
}

.link-linkedin:hover {
	color: #0177B5;
}

.link-twitter:hover {
	color: #1DA1F2;
}



/* Filmes */

.movie-detail {
    min-height: 114px;	
}

.movie-image{
	height: 120px;
	float: left;
}

.movie-title {
	margin: 0 20px;
	float: left;
}

.movie-bio {
	margin-left: 100px;
}

/* Sobre */

.about-text {
	display: inline;
}

.links {
	font-size: 18px;
	float: right;
}
